@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
}

/* default styling */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Quicksand;
}

body,
html,
#root {
  min-height: 100dvh;
  width: 100dvw;
  background-color: #101010;
  scroll-behavior: smooth;
}

/* configuring fonts */

@font-face {
  font-family: Quicksand;
  src: url('/src/assets/fonts/Quicksand-Bold.ttf');
}

::-webkit-scrollbar {
  width: 0;
}